import library

In [1]:
import pandas as pd
import numpy as np

import datasets

In [2]:
df24 = pd.read_excel(r'B:\GitHub Repository\Analysis-of-Annual-Education-Sector-Inflation-in-Indonesia\datasets\2024.xlsx', header=None, skiprows=2)
df25 = pd.read_excel(r'B:\GitHub Repository\Analysis-of-Annual-Education-Sector-Inflation-in-Indonesia\datasets\2025.xlsx', header=None, skiprows=2)

Make new column 'Tahun' and fill it by the dataframe year

In [3]:
df24['Tahun'] = 2024
df25['Tahun'] = 2025

Drop the Year Column in the dataframe

In [4]:
df25.drop(df25.index[1], inplace=True)
df24.drop(df24.index[1], inplace=True)

In [5]:
df24.head(10)

,0,1,2,3,4,5,6,7,8,9,...,57,58,59,60,61,62,63,64,65,Tahun
0,NaN,Pendidikan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024
2,NaN,Januari,Februari,Maret,April,Mei,Juni,Juli,Agustus,September,...,Mei,Juni,Juli,Agustus,September,Oktober,November,Desember,Tahunan,2024
3,KAB ACEH TENGAH,0,0,0,0.19,0.19,0.19,0.19,0.19,0.19,...,-,-,-,-,-,-,-,-,-,2024
4,MEULABOH,2.79,2.26,1.81,0.7,0.7,0.7,0.7,0.7,0.73,...,0.49,0.49,0.49,0.49,0.49,0.49,0,0,-,2024
5,KAB ACEH TAMIANG,2.36,2.36,2.36,2.36,2.36,2.36,1.39,4.78,5.14,...,-,-,-,-,-,-,-,-,-,2024
6,KOTA BANDA ACEH,0.32,0.35,0.35,0.35,0.35,0.35,0.35,0.58,0.58,...,0.38,0.38,0.38,0.38,0.38,0.38,0.38,0.38,-,2024
7,KOTA LHOKSEUMAWE,1.27,1.27,1.27,1.27,1.27,1.27,3.42,3.86,3.86,...,9.43,9.43,9.43,9.43,9.43,9.43,9.43,9.43,-,2024
8,KAB LABUHANBATU,0.5,0.5,0.5,0.5,0.5,0.5,0,0,0,...,0,0,0,0,0,0,0,0,-,2024
9,KAB KARO,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-,2024
10,KAB DELI SERDANG,0,0,0,0,0,0,0,0.87,0.87,...,0,0,0,0,0,0,0,0,-,2024

In [6]:
df25.head(10)

,0,1,2,3,4,5,6,7,8,9,...,57,58,59,60,61,62,63,64,65,Tahun
0,NaN,Pendidikan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025
2,NaN,Januari,Februari,Maret,April,Mei,Juni,Juli,Agustus,September,...,Mei,Juni,Juli,Agustus,September,Oktober,November,Desember,Tahunan,2025
3,KAB ACEH TENGAH,0.07,0.07,0.28,0.1,0.52,0.79,-,-,-,...,-,-,-,-,-,-,-,-,-,2025
4,MEULABOH,0.03,0.03,0.03,0.03,0.03,0.03,-,-,-,...,0,0,-,-,-,-,-,-,-,2025
5,KAB ACEH TAMIANG,5.14,5.14,5.14,5.14,5.14,5.14,-,-,-,...,-,-,-,-,-,-,-,-,-,2025
6,KOTA BANDA ACEH,0.58,0.55,0.55,0.55,0.55,0.55,-,-,-,...,0,0,-,-,-,-,-,-,-,2025
7,KOTA LHOKSEUMAWE,3.52,3.52,3.52,3.52,3.52,3.52,-,-,-,...,0,0,-,-,-,-,-,-,-,2025
8,KAB LABUHANBATU,0,0,0,0,0,0,-,-,-,...,0,0,-,-,-,-,-,-,-,2025
9,KAB KARO,0,0,0,0,0,0,-,-,-,...,0,0,-,-,-,-,-,-,-,2025
10,KAB DELI SERDANG,0.87,0.87,0.87,0.87,0.87,0.87,-,-,-,...,0,0,-,-,-,-,-,-,-,2025

Fill the NaN in 2024 dataframe with ''

In [7]:
df24.fillna('', inplace=True)

In [8]:
df24

,0,1,2,3,4,5,6,7,8,9,...,57,58,59,60,61,62,63,64,65,Tahun
0,,Pendidikan,,,,,,,,,...,,,,,,,,,,2024
2,,Januari,Februari,Maret,April,Mei,Juni,Juli,Agustus,September,...,Mei,Juni,Juli,Agustus,September,Oktober,November,Desember,Tahunan,2024
3,KAB ACEH TENGAH,0,0,0,0.19,0.19,0.19,0.19,0.19,0.19,...,-,-,-,-,-,-,-,-,-,2024
4,MEULABOH,2.79,2.26,1.81,0.7,0.7,0.7,0.7,0.7,0.73,...,0.49,0.49,0.49,0.49,0.49,0.49,0,0,-,2024
5,KAB ACEH TAMIANG,2.36,2.36,2.36,2.36,2.36,2.36,1.39,4.78,5.14,...,-,-,-,-,-,-,-,-,-,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,MERAUKE,2.77,2.77,2.77,2.77,2.77,2.03,-2.88,-3.73,-2.36,...,0.76,0.76,7.38,7.38,7.38,7.38,7.38,7.38,-,2024
150,TIMIKA,0,0,0,0,0,0.89,1.02,1.09,1.09,...,-,-,-,-,-,-,-,-,-,2024
151,KAB NABIRE,0.54,0.21,0.21,0.21,0.21,0.21,0.21,1.58,1.96,...,-,-,-,-,-,-,-,-,-,2024
152,KAB JAYAWIJAYA,0,0,0,0,0,0,1.82,1.82,1.82,...,-,-,-,-,-,-,-,-,-,2024
153,INDONESIA,1.57,1.55,1.7,1.72,1.71,1.69,1.9,1.83,1.94,...,3.38,3.36,3.62,3.62,3.47,3.12,3.09,3.07,-,2024

Remove the Header of 2025 dataframe, so that only contains the values. This will make the concat clean.

In [9]:
df25.reset_index(drop=True, inplace=True)
df25 = df25.iloc[2:]
df25.reset_index(drop=True, inplace=True)
df25

,0,1,2,3,4,5,6,7,8,9,...,57,58,59,60,61,62,63,64,65,Tahun
0,KAB ACEH TENGAH,0.07,0.07,0.28,0.1,0.52,0.79,-,-,-,...,-,-,-,-,-,-,-,-,-,2025
1,MEULABOH,0.03,0.03,0.03,0.03,0.03,0.03,-,-,-,...,0,0,-,-,-,-,-,-,-,2025
2,KAB ACEH TAMIANG,5.14,5.14,5.14,5.14,5.14,5.14,-,-,-,...,-,-,-,-,-,-,-,-,-,2025
3,KOTA BANDA ACEH,0.58,0.55,0.55,0.55,0.55,0.55,-,-,-,...,0,0,-,-,-,-,-,-,-,2025
4,KOTA LHOKSEUMAWE,3.52,3.52,3.52,3.52,3.52,3.52,-,-,-,...,0,0,-,-,-,-,-,-,-,2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,MERAUKE,-2.17,-2.17,-2.17,-2.17,-2.17,-2.17,-,-,-,...,7.38,7.38,-,-,-,-,-,-,-,2025
147,TIMIKA,1.09,1.09,1.09,1.09,1.09,0.2,-,-,-,...,-,-,-,-,-,-,-,-,-,2025
148,KAB NABIRE,1.96,2.3,2.3,2.3,2.3,2.3,-,-,-,...,-,-,-,-,-,-,-,-,-,2025
149,KAB JAYAWIJAYA,1.82,3.15,3.15,3.15,3.15,3.15,-,-,-,...,-,-,-,-,-,-,-,-,-,2025
150,INDONESIA,2.05,2.04,1.89,1.88,1.88,1.82,-,-,-,...,2.23,2.75,-,-,-,-,-,-,-,2025

Join the 2024 df and 2025 df with concat method

In [10]:
df_concat = pd.concat([df24, df25], ignore_index=True)
df_concat.reset_index(drop=True, inplace=True)
df_concat

,0,1,2,3,4,5,6,7,8,9,...,57,58,59,60,61,62,63,64,65,Tahun
0,,Pendidikan,,,,,,,,,...,,,,,,,,,,2024
1,,Januari,Februari,Maret,April,Mei,Juni,Juli,Agustus,September,...,Mei,Juni,Juli,Agustus,September,Oktober,November,Desember,Tahunan,2024
2,KAB ACEH TENGAH,0,0,0,0.19,0.19,0.19,0.19,0.19,0.19,...,-,-,-,-,-,-,-,-,-,2024
3,MEULABOH,2.79,2.26,1.81,0.7,0.7,0.7,0.7,0.7,0.73,...,0.49,0.49,0.49,0.49,0.49,0.49,0,0,-,2024
4,KAB ACEH TAMIANG,2.36,2.36,2.36,2.36,2.36,2.36,1.39,4.78,5.14,...,-,-,-,-,-,-,-,-,-,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,MERAUKE,-2.17,-2.17,-2.17,-2.17,-2.17,-2.17,-,-,-,...,7.38,7.38,-,-,-,-,-,-,-,2025
300,TIMIKA,1.09,1.09,1.09,1.09,1.09,0.2,-,-,-,...,-,-,-,-,-,-,-,-,-,2025
301,KAB NABIRE,1.96,2.3,2.3,2.3,2.3,2.3,-,-,-,...,-,-,-,-,-,-,-,-,-,2025
302,KAB JAYAWIJAYA,1.82,3.15,3.15,3.15,3.15,3.15,-,-,-,...,-,-,-,-,-,-,-,-,-,2025
303,INDONESIA,2.05,2.04,1.89,1.88,1.88,1.82,-,-,-,...,2.23,2.75,-,-,-,-,-,-,-,2025

Create Multi index in concat dataframe from index 0 to 1

In [11]:
# Create MultiIndex columns from first two rows
df_concat.columns = pd.MultiIndex.from_arrays([df_concat.iloc[0], df_concat.iloc[1]])

# Drop the first two rows since they're now part of the column headers
df_concat = df_concat.iloc[2:].reset_index(drop=True)

# Convert numeric columns to float where possible
for col in df_concat.columns:
    try:
        df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
    except:
        continue

C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)
C:\Users\Asus\AppData\Local\Temp\ipykernel_10224\217528568.py:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_concat[col] = df_concat[col].replace('', np.nan).astype(float)

In [13]:
df_concat.head(10)

0                       Pendidikan                                         \
1                          Januari Februari Maret April   Mei  Juni  Juli
0       KAB ACEH TENGAH       0.00        0     0  0.19  0.19  0.19  0.19
1              MEULABOH       2.79     2.26  1.81   0.7   0.7   0.7   0.7
2      KAB ACEH TAMIANG       2.36     2.36  2.36  2.36  2.36  2.36  1.39
3       KOTA BANDA ACEH       0.32     0.35  0.35  0.35  0.35  0.35  0.35
4      KOTA LHOKSEUMAWE       1.27     1.27  1.27  1.27  1.27  1.27  3.42
5       KAB LABUHANBATU       0.50      0.5   0.5   0.5   0.5   0.5     0
6              KAB KARO       0.00        0     0     0     0     0     0
7      KAB DELI SERDANG       0.00        0     0     0     0     0     0
8          KOTA SIBOLGA       3.25     3.25  3.25  3.25  3.25  3.25  3.25
9  KOTA PEMATANGSIANTAR       6.07     6.07  6.07  6.07  6.07  6.07  8.24

0                    ...                                                       \
1 Agustus September  ...   Mei  Juni  Juli Agustus September Oktober November
0    0.19      0.19  ...     -     -     -       -         -       -        -
1     0.7      0.73  ...  0.49  0.49  0.49    0.49      0.49    0.49        0
2    4.78      5.14  ...     -     -     -       -         -       -        -
3    0.58      0.58  ...  0.38  0.38  0.38    0.38      0.38    0.38     0.38
4    3.86      3.86  ...  9.43  9.43  9.43    9.43      9.43    9.43     9.43
5       0         0  ...     0     0     0       0         0       0        0
6       0         0  ...     0     0     0       0         0       0        0
7    0.87      0.87  ...     0     0     0       0         0       0        0
8    2.82      2.82  ...     0     0     0       0         0       0        0
9    3.07      3.07  ...   7.7   7.7   7.7     7.7       7.7     7.7      7.7

0                     2024
1 Desember Tahunan    2024
0        -       -  2024.0
1        0       -  2024.0
2        -       -  2024.0
3     0.38       -  2024.0
4     9.43       -  2024.0
5        0       -  2024.0
6        0       -  2024.0
7        0       -  2024.0
8        0       -  2024.0
9     4.44       -  2024.0

[10 rows x 67 columns]

In [14]:
df_concat.tail(10)

0                       Pendidikan                                        \
1                          Januari Februari Maret April   Mei  Juni Juli
292           MANOKWARI       4.54     6.16   6.3   6.3   6.3   6.3    -
293          KAB SORONG       0.69     0.69  0.69  0.69  0.69  0.69    -
294  KAB SORONG SELATAN       1.92     1.92  1.92  1.92  1.92  1.92    -
295         KOTA SORONG      -0.61    -0.36 -0.36 -0.36 -0.36 -0.36    -
296       KOTA JAYAPURA       0.10      0.1   0.1   0.1   0.1   0.1    -
297             MERAUKE      -2.17    -2.17 -2.17 -2.17 -2.17 -2.17    -
298              TIMIKA       1.09     1.09  1.09  1.09  1.09   0.2    -
299          KAB NABIRE       1.96      2.3   2.3   2.3   2.3   2.3    -
300      KAB JAYAWIJAYA       1.82     3.15  3.15  3.15  3.15  3.15    -
301           INDONESIA       2.05     2.04  1.89  1.88  1.88  1.82    -

0                      ...                                               \
1   Agustus September  ...    Mei   Juni Juli Agustus September Oktober
292       -         -  ...      0      0    -       -         -       -
293       -         -  ...      -      -    -       -         -       -
294       -         -  ...      -      -    -       -         -       -
295       -         -  ...  10.69  10.69    -       -         -       -
296       -         -  ...      0      0    -       -         -       -
297       -         -  ...   7.38   7.38    -       -         -       -
298       -         -  ...      -      -    -       -         -       -
299       -         -  ...      -      -    -       -         -       -
300       -         -  ...      -      -    -       -         -       -
301       -         -  ...   2.23   2.75    -       -         -       -

0                                2024
1   November Desember Tahunan    2024
292        -        -       -  2025.0
293        -        -       -  2025.0
294        -        -       -  2025.0
295        -        -       -  2025.0
296        -        -       -  2025.0
297        -        -       -  2025.0
298        -        -       -  2025.0
299        -        -       -  2025.0
300        -        -       -  2025.0
301        -        -       -  2025.0

[10 rows x 67 columns]